<form method="POST" action="/articles">
    <label>Article title: <input type="text" id="title" name="title"></label>
    <br>
    <label>Article content: <input type="text" id="content" name="content"/></label>
    <br>
    <input type="submit" id="submit"/>
</form>