<form action="/articles" method="post">
    <label for="title">Article title: </label><input type="text" name="title"><br>
    <label for="content">Content: </label><textarea name="content"></textarea>
    <input type="submit" value="submit">
</form>