<h1> Enter info on your article: </h1>

<form action="/articles" method="post">

  <p> Title: <input type="text" name="title"> </p>
  <p> Content: <textarea name="content" type="text"></textarea>
  <br>
  <input type="submit" value="Submit">

  </form>
